* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
  
}

.card-grid {
  display: flex;      /*Hace que se empalmen las cosas en horizontal*/
  flex-direction: row;/*Hace que se empalmen de izquierda a derecha*/
  flex-wrap: wrap;    /*Hace que se organicen los componentes hacía abajo*/
}

.card {
  align-content: center; 
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden; /*bordes de las imagenes no se salgan*/
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

